<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:fragment="headAttributes">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
            <link th:rel="stylesheet" th:href="@{/css/base.css}">
            <link th:rel="stylesheet" th:href="@{/css/navbar.css}">
        </th:block>
        <title>Copyright Fragment</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand" th:href="@{/}"><img id="logo" th:src="@{/images/tweak_logo.png}" class="rounded" ></a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- Left links -->
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/}" th:classappend="${#request.getServletPath() == '/'}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
                                <img id="homeButton" src="/images/house-fill.svg">
                            </a>
                        </li>
                    </ul>
                    <!-- Left links -->

                    <form class="d-flex flex-grow-1 align-items-center form-search">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search" aria-label="Search"/>
                            <button type="button" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item flex-wrap" th:classappend="${#request.getServletPath() == 'createprofile'}">
                            <a class="nav-link" th:href="@{/createprofile}">Sign Up</a>
                        </li>
                        <li class="nav-item flex-wrap">
                            <a class="nav-link">Sign In</a> <!--th:classappend="${#request.getServletPath() == '/'}"-->
                        </li>
                        <li class="nav-item flex-wrap">
                            <a class="nav-link">Account</a>
                        </li>
                        <li class="nav-item flex-wrap">
                            <a class="nav-link" th:href="@{/createpost}"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add Post">
                                <img th:src="@{/images/plus-square-fill.svg}">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <div th:fragment="header">
            <div class="container-fluid">
                <div class="row justify-content-center mt-2 mb-2">
                    <div class="col-12">
                        <h1 class="text-center" id="siteName">Tweak</h1>
                    </div>
                </div>
            </div>
        </div>

        <footer id="site-footer" th:fragment="footer" class="mt-4">
            <div class="container text-center">
                <div class="text-muted mt-2">Tho Tran @ Copyright 2021</div>
            </div>
        </footer>

        <a th:fragment="addPostButton" class="nav-link btn-secondary text-center floatingButton"
           th:href="@{/createpost}" data-bs-toggle="tooltip" data-bs-placement="left" title="Add Post">
            <img th:src="@{/images/plus-lg.svg}" class="mx-auto d-block">
        </a>

        <div id="container-overflow-scroll"></div>
    </body>
    <th:block th:fragment="scripts">
        <script th:src="@{webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
        <script th:src="@{webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
    </th:block>
</html>