<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:fragment="headAttributes">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css}">
            <link th:rel="stylesheet" th:href="@{/css/base.css}">
            <link th:rel="stylesheet" th:href="@{/css/navbar.css}">
        </th:block>
        <title>Copyright Fragment</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand" th:href="@{/}"><img id="logo" th:src="@{/images/tweak_logo.png}" class="rounded"></a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- Left links -->
                    <ul class="navbar-nav">
                        <li class="nav-item" th:classappend="${#request.getServletPath() == '/'}">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                    </ul>
                    <!-- Left links -->

                    <form class="d-flex align-items-center w-75 form-search">
                        <div class="input-group">
                            <button class="btn btn-light dropdown-toggle shadow-0" type="button" data-toggle="dropdown"
                                    aria-expanded="false" id="dropdownMenuButton">Categories</button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item">All</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item">Electronic</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item">Home Tools</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item">Beauty</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item">Garage Tools</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item">Garden Tools</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item">School</a>
                                    </li>
                                </ul>
                            <input type="search" class="form-control" placeholder="Search" aria-label="Search"/>
                            <button type="button" class="btn btn-outline-primary">Search</button>
                        </div>
                    </form>

                    <ul class="navbar-nav">
                        <li class="nav-item" th:classappend="${#request.getServletPath() == 'createprofile'}">
                            <a class="nav-link" th:href="@{/createprofile}">Sign Up</a>
                        </li>
                        <li class="nav-item"> <!--th:classappend="${#request.getServletPath() == '/'}"-->
                            <a class="nav-link">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Account</a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <div th:fragment="header">
            <div class="container-fluid">
                <div class="row justify-content-center mt-2 mb-2">
                    <div class="col-12">
                        <h1 class="text-center" style="font-family: Brush Script MT, serif; font-size: 60px;">Tweak</h1>
                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer" th:fragment="footer">
            <div class="container text-center">
                <div class="text-muted mt-2">Tho Tran @ Copyright 2021</div>
            </div>
        </footer>
    </body>
    <th:block th:fragment="scripts">
        <script th:src="@{webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
        <script th:src="@{webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>
    </th:block>
</html>