<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="fragments/base :: headAttributes"></th:block>
        <title>Create Profile</title>
    </head>
    <body>
        <div th:insert="fragments/base :: navigation"></div>
        <div th:insert="fragments/base :: header"></div>
        <div class="container-fluid">
            <div class="row justify-content-center mb-3">
            <div class="col-8 col-md-3 text-center">
                <h3>Create Your Profile</h3>
            </div>
            </div>
        </div>
        <form th:action="@{/createprofile}" th:object="${addProfile}" method="post">
            <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input id="firstname" class="form-control" type="text" th:field="*{firstName}" required>
                </div>
            </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input id="lastname" class="form-control" type="text" th:field="*{lastName}" required>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <label for="birthday" class="form-label">Date of Birth</label>
                        <input id="birthday" class="form-control" type="date" th:field="*{dateOfBirth}" placeholder="MM/DD/YYYY" required>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" class="form-control" type="email" th:field="*{email}" placeholder="you@example.com" required>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" required></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" class="form-control" type="text" th:field="*{username}">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" class="form-control" type="password" th:field="*{password}" required>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-4">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                        <em>Must contain at least one lowercase letter, one uppercase letter, a number, and at least 6 or more characters</em>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <input class="btn btn-primary w-100" type="submit" value="Submit">
                    </div>
                </div>
            </div>

            <div th:insert="fragments/base :: footer"></div>
        </form>
    </body>
    <th:block th:replace="fragments/base :: scripts"></th:block>
</html>