<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <th:block th:insert="fragments/base :: headAttributes"></th:block>
        <title>Create Your Hack</title>
    </head>
    <body>
        <div th:insert="fragments/base :: header"></div>
        <h3>Create Your Life Hack</h3>

        <form th:action="@{/createpost}" th:object="${addPost}" method="post">
            <label for="title">Title:</label>
            <input id="title" type="text" th:field="*{title}" required>
            <br><br>

            <label for="date">Date Created:</label>
            <input id="date" type="date" th:field="*{date}" required>
            <br><br>

            <label for="description">Description:</label>
            <br>
            <textarea id="description" rows="10" cols="50" th:field="*{description}"></textarea>
            <br><br>

            <label for="upload">Upload:</label>
            <input id="upload" type="file">
            <br><br>

            <input type="submit" value="Submit Hack">
        </form>
        <br><br>
        <hr>

        <div th:insert="fragments/base :: footer"></div>
    </body>
    <th:block th:replace="fragments/base :: scripts"></th:block>
</html>