<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="fragments/base :: headAttributes"></th:block>
        <title>My Post</title>
    </head>
    <body>
        <div th:insert="fragments/base :: navigation"></div>

        <div class="container-fluid">
            <div class="row justify-content-center mt-3 mb-3">
                <h3 class="text-center col-12">Edit Post</h3>
            </div>
        </div>

        <form th:action="@{/createpost/editpost/{id}(id=${mypost.id})}" th:object="${mypost}" method="post">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <label for="title">Title:</label>
                        <input class="form-control" id="title" type="text" th:field="*{title}">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-8 col-md-3">
                        <label for="description">Description:</label>
                        <br>
                        <textarea class="form-control" id="description" rows="5" cols="50" th:field="*{description}"></textarea>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3 mb-3">
                        <label for="image" class="form-label">Upload an image</label>
                        <input class="form-control mb-4" id="image" type="file" name="imageFile">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3">
                        <span class="text-danger small" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-3 mb-3">
                        <input class="btn btn-primary w-100" type="submit" value="Save Changes">
                        <a class="btn btn-danger mt-2 w-100" th:href="@{/viewposts}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
        <div th:insert="fragments/base :: footer"></div>
    </body>
    <th:block th:replace="fragments/base :: scripts"></th:block>
</html>